# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Rider / JetBrains
.idea/
*.sln.iml

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates
*.DotSettings.user

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Other files
*.dbmdl
*.bak
*.log
*.pdb

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini
$RECYCLE.BIN/

# Test results
TestResult*/
[Bb]uild[Ll]og.*
*.coverage
*.coveragexml
*.testlog
*.trx

# Dotnet tools
.dotnet/
tools/

# Publish output
publish/
wwwroot/